{% extends 'base.html' %}
{% block content %}
<div class="p-4 p-md-5 mb-4 row text-bg-dark">
    <div class="col-md-6">
        <h1 class="display-4">단대생들을 위한 맛집가이드, 단슐랭</h1>
        <p class="lead my-3">"오늘 점심 뭐먹어야하지?", "술 어디서 마실래?", "어느 카페에서 공부해야할까?" 등 <span class="text-danger">여러분들의 식사 고민을 단슐랭이 단번에 해결해 드립니다.</span></p>
        <p class="lead mb-0"><a href="#" class="text-white fw-bold">Continue reading...</a></p>
    </div>
    <div class="col-md-6">
        <img class="w-50 h-100 rounded-circle rounded mx-auto d-block" src="https://play-lh.googleusercontent.com/B28YgzJ6sVLUSGLDdMvvIXQaRBVIKbi83RahOChEn3tg_X_A9bCNfRpmbnZRit1DXKM" alt="michelin">
    </div>
</div>

<div class="row mb-2">
    <div class="col-md-6">
    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
            <p class="d-inline-block mb-2 text-primary fs-5">하나!</p>
            <h3 class="mb-0">폭넓은 카테고리</h3>
            <p class="card-text mb-auto fs-5 text-secondary">식사 상황에 맞춰 11가지의 카테고리 중 하나를 골라 열람할 수 있습니다.</p>
        </div>
    </div>
    </div>
    <div class="col-md-6">
    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
            <p class="d-inline-block mb-2 text-primary fs-5">둘!</p>
            <h3 class="mb-0">상세한 설명</h3>
            <p class="card-text mb-auto fs-5 text-secondary">매장의 영업시간, 위치, 전화번호, 메뉴, 배달여부까지 상세히 설명했습니다.</p>
        </div>
    </div>
    </div>
    <div class="col-md-6">
    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
            <p class="d-inline-block mb-2 text-primary fs-5">셋!</p>
            <h3 class="mb-0">추천 메뉴 확인</h3>
            <p class="card-text mb-auto fs-5 text-secondary">단국대 재학생인 단슐랭 제작자가 엄선한 추천 메뉴도 확인 가능합니다.</p>
        </div>
    </div>
    </div>
    <div class="col-md-6">
    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
            <p class="d-inline-block mb-2 text-primary fs-5">넷!</p>
            <h3 class="mb-0">추천 및 댓글 기능</h3>
            <p class="card-text mb-auto fs-5 text-secondary">매장별 단슐랭 회원들의 추천도와 댓글로 남긴 의견들을 볼 수 있습니다.</p>
        </div>
    </div>
    </div>
</div>
{% endblock %}
{% block script %}
<script type='text/javascript'>
</script>
{% endblock %}